<ion-header>

  <ion-navbar>
    <ion-title>List of My Posted Jobs</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search by skills"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <h2>{{item.JobTitle}}</h2>
        <p>Location: {{item.Location}}</p>
        <p>Skills : {{item.Skills}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="blue" (click)="openItem(item)">
          Details
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>